{% extends 'base.html' %}

{% block content %}

<table>
  <caption>Ladder Rankings</caption>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Username</th>
      <th>Points</th>
      <th>Wins</th>
      <th>Losses</th>
    </tr>
  </thead>
  <tbody>
    {% for stats in ladder_stats %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ stats.client.username }}</td>
        <td>{{ stats.ladder_points }}</td>
        <td>{{ stats.ladder_wins }}</td>
        <td>{{ stats.ladder_losses }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
