/*
 * header.scss
 *
 * Desc: styling for the page content
 */

.content {
  padding: 10px;

  .page {
    margin: {
      left: auto;
      right: auto;
      top: $headerHeight;
    }
    width: $pageWidth;

    img {
      max-width: $pageWidth;
    }
  }
}

.listing {
  list-style-type: none;
  font-size: 12px;
  margin: 0;
  padding: 0;

  li {
    background: url("../img/bowred.svg") no-repeat left 5px;
    background-size: 8px 8px;
    padding: {
      left: 10px;
    }
  }
}

.column {
  display: inline-block;
  font-size: 16px;
  margin: {
    top: $pagePadding;
    right: $pagePadding - 3;
  }
  text-align: left;
  vertical-align: top;
  width: ($pageWidth - 3*$pagePadding)/3;

  h2 {
    padding: {
      bottom: $pagePadding;
    }
    margin: {
      bottom: 10px;
    }
    border: {
      bottom: 2px solid $darkRedColor;
    }
    color: $darkRedColor;
    font-size: 24px;
    text-align: center;
  }

  a {
    color: $darkRedColor;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.banner {
  background-size: $pageWidth - 2*5px 300px;
  border: 5px solid $darkRedColor;
  height: 300px;
  margin: {
    bottom: 5px;
  }
  width: $pageWidth - 2*5px;

  @include box-shadow(0, 0, 5px, $darkRedColor);

  a {
    text-decoration: none;
  }

  h1 {
    background-color: rgba($redColor, 0.60);
    color: $whiteColor;
    padding: {
      right: 30px;
      top: 10px;
      bottom: 10px;
    }
    position: relative;
    text-align: right;
    text-shadow: -3px -3px 0 $blackColor;
    top: 200px;

    @include transition(padding, 0.10s);
  }

  &:hover {
    h1 {
      background-color: rgba($redColor, 0.75);
      padding: {
        right: 40px;
      }
    }
  }
}

.ladder-mini {
  border-collapse: collapse;
  font-size: 12px;
  width: 100%;

  @include box-shadow(0, 0, 3px, $blackColor);

  thead {

    th {
      background-color: $redColor;
      color: $whiteColor;
      text-align: left;
      padding: 5px;
    }
  }

  tbody {
    tr {
      background-color: $whiteColor;
      color: $grayColor;

      a {
        color: $grayColor;
      }

      &:hover {
        background-color: $lightRedColor;
        color: $whiteColor;

        a {
          color: $whiteColor;
        }
      }
    }

    tr:nth-child(even) {
      background-color: $redColor;
      color: $whiteColor;

      a {
        color: $whiteColor;
      }

      &:hover {
        background-color: $lightRedColor;
      }
    }

    td {
      padding: {
        left: 5px;
        right: 5px;
      }
    }
  }
}


.ladder {
  border-collapse: collapse;
  width: 100%;

  thead {

    th {
      background-color: $redColor;
      color: $whiteColor;
      font-size: 14px;
      text-align: left;
      padding: 5px;
    }
  }

  tbody {
    tr {
      background-color: $whiteColor;
      color: $grayColor;

      a {
        color: $grayColor;
      }

      &:hover {
        background-color: $lightRedColor;
        color: $whiteColor;

        a {
          color: $whiteColor;
        }
      }
    }

    tr:nth-child(even) {
      background-color: $redColor;
      color: $whiteColor;

      a {
        color: $whiteColor;
      }

      &:hover {
        background-color: $lightRedColor;
      }
    }

    td {
      padding: {
        left: 5px;
        right: 5px;
      }
    }
  }
}
