{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="banner" style="background-image:url('{% static 'site/img/generalimage.png' %}')")>
  <h1>Welcome, {{ user.username }}!</h1>
</div>

To start laddering, download the client using the links below:

<ul>
<li>Windows 7+ - <a href="{{ CLIENT_URLS.windows }}">{{ CLIENT_URLS.windows }}</a>
<li>OS X - <a href="{{ CLIENT_URLS.osx }}">{{ CLIENT_URLS.osx }}</a>
</ul>

On Windows, you will also need to download Visual C++ Redistributable for Visual Studio 2012 Update 4. Make sure to download the x86 version:

<ul>
  <li>http://www.microsoft.com/en-us/download/details.aspx?id=30679</li>
</ul>

Your client authentication token is: <input size="30" value="{{ user.authtoken }}" />

<hr/>

You can view your ladder account <a href="{% url 'starbowmodweb.ladder.views.show_player' user.pk %}">here</a>.
{% endblock %}
