{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="banner" style="background-image:url('{% static 'site/img/generalimage.png' %}')")>
  <h1>Welcome, {{ user.username }}!</h1>
</div>

To start laddering, download the client using one of the links below:

<ul>
<li><a href="{{ CLIENT_URLS.windows }}">Windows</a>
<li><a href="{{ CLIENT_URLS.osx }}">OS X</a>
</ul>

Your client authentication token is: <input id="authtoken" type="text" size="35" value="{{ user.authtoken }}" />

<hr/>

You can view your ladder account <a href="{% url 'starbowmodweb.ladder.views.show_player' user.pk %}">here</a>.
{% endblock %}
