{% extends 'base.html' %}

{% block content %}

Profile for {{ client.username }}
<hr/>
<h1>Regional Stats</h1>
<ul>
{% for stats in client.stats.all %}
    <li>{{ stats }}</li>
{% endfor %}
</ul>
<hr/>
<h1>Match History</h1>
<table class="ladder-mini">
{% for match in matches %}
    <tr data-match-id="{{ match.id }}" data-matchmaker-match-id="{{ match.mm_id }}">
        <td style="width:105px;">{{ match.datetime|date:"Y-m-d H:i"}}</td>
        <td style="width:45px;">{{ match.result }}</td>
        <td style="width:35px; text-align:right; ">{{ match.point_difference }}</td>
        <td><img src="{{ match.player1.race_icon }}" width="16px" height="16px;"/>&nbsp;{{ match.player1.client.username }}</td>
        <td><img src="{{ match.player2.race_icon }}" width="16px" height="16px;"/>&nbsp;{{ match.player2.client.username }}</td>
        <td style="text-align: left;">{{ match.map_name }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
