{% extends 'base.html' %}
{% load tz %}
{% block content %}

Profile for {{ client.username }}
<hr/>
<h1>Regional Stats</h1>
<ul>
{% for stats in client.stats.all %}
    <li>{{ stats }}</li>
{% endfor %}
</ul>
<hr/>
<h1>Match History</h1>
<table class="ladder-mini">
{% for match in matches %}
    <tr data-match-id="{{ match.id }}" data-matchmaker-match-id="{{ match.mm_id }}">
        <td>{{ match.region }}</td>
        <td style="width:125px;">{% if match.region == "NA" %}{{ match.datetime|timezone:"US/Pacific"|date:"Y-m-d H:i" }} PST{% elif match.region == "EU" %}{{ match.datetime|timezone:"Europe/Paris"|date:"Y-m-d H:i" }} CET{% elif match.region == "KR" %}{{ match.datetime|timezone:"Asia/Seoul"|date:"Y-m-d H:i" }} KST{% endif %}</td>
        <td style="width:45px;">{{ match.result }}</td>
        <td style="width:35px; text-align:right; ">{{ match.point_difference }}</td>
        <td>
            {% if match.player1 %}
            <img src="{{ match.player1.race_icon }}" width="16px" height="16px;"/>&nbsp;
            <a href="{% url 'ladder.views.show_player' match.player1.client.pk %}">{{ match.player1.client.username }}</a>
            {% endif %}
        </td>
        <td>
            {% if match.player2 %}
            <img src="{{ match.player2.race_icon }}" width="16px" height="16px;"/>&nbsp;
            <a href="{% url 'ladder.views.show_player' match.player2.client.pk %}">{{ match.player2.client.username }}</a>
            {% endif %}
        </td>
        <td style="text-align: left;">{{ match.map_name }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
