{% extends 'base.html' %}

{% block content %}

Profile for {{ client.username }}
<hr/>
<h1>Linked Accounts</h1>
<ul>
{% for character in client.characters.all %}
    <li><a href="{{ character.get_absolute_url }}">{{ character }}</a></li>
{% endfor %}
</ul>
<hr/>
<h1>Regional Stats</h1>
<ul>
{% for stats in client.stats.all %}
    <li>{{ stats }}</li>
{% endfor %}
</ul>
</hr/>
<h1>Match History</h1>
<table class="ladder-mini">
<tr>
    <td>R</td><td>Player 1</td><td>R</td><td>Player 2</td><td>Map</td>
</tr>
{% for match in matches.all %}
    <tr>
        {% for player in match.players.all %}
            <td>{{ player.race|slice:":1" }}</td><td>{{ player.client.username }}</td>
        {% endfor %}
        <td>{{ match.map.bnet_name }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
