{% extends 'base.html' %}

{% block content %}
<table id="ladder" class="ladder-mini">
  <thead>
    <tr>
      <th>Rank</th>
      <th data-hidden="1">ClientId</th>
      <th data-searchable="1">Username</th>
      <th>Points</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Walkovers</th>
      <th>Forfeits</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<script>
!function($) {

    function mRenderUsername(value, type, row) {
        switch (type) {
        case "filter":
        case "type":
        case "sort": return value;
        case "display": return '<a href="/ladder/player/'+row[1]+'">'+value+"</a>";
        }
    }

    $("#ladder").dataTable({
        bProcessing: true,
        bServerSide: true,
        sDom: '<"top"f<"clear">>rt<"clear"><"bottom"p>',
        sAjaxSource: "/ladder/datatable",
        bLengthChange: false,
        iDisplayLength: 50,
        sPaginationType: "full_numbers",
        fnRowCallback: function ( nRow, aData, iDisplayIndex ) {
          if (aData[2].toLowerCase() == $("#ladder_filter input").val().toLowerCase()) {
            $(nRow).addClass("matching-player");
          }
        },
        fnServerData: function ( sSource, aoData, fnCallback, oSettings ) {
          oSettings.jqXHR = $.ajax({
            "async": false,
            "dataType": 'json',
            "type": "GET",
            "url": sSource,
            "data": aoData,
            "success": fnCallback
          });
          json = eval('('+oSettings.jqXHR.responseText+')');
          if (json['aaData'].length == 1) {
            $.map(aoData, function(setting) {
              if (setting['name'] == 'sSearch') {
                setting['value'] = ''
              }
              else if (setting['name'] == 'iDisplayStart') {
                setting['value'] = json['aaData'][0][0] - 10;
              }
            })
            oSettings.jqXHR = $.ajax({
              "async": false,
              "dataType": 'json',
              "type": "GET",
              "url": sSource,
              "data": aoData,
              "success": fnCallback
            });
          }
        },
        fnServerParams: function ( aoData ) {
          aoData.push(
            { name: "region", value: {{ region }}},
            { name: "dimensions", value: ''},
            { name: "observations", value: 'rank,clientid,username,ladder_points,ladder_wins,ladder_losses,ladder_walkovers,ladder_forfeits'}
          );
        },
        "oLanguage": {
          sSearch: "Player Search",
        },
        "aoColumns": [
            { bSearchable: false },
            { bSearchable: false, bVisible: false },
            { bSearchable: true, mRender: mRenderUsername },
            { bSearchable: false },
            { bSearchable: false },
            { bSearchable: false },
            { bSearchable: false },
            { bSearchable: false },
        ],
        "oLanguage": {
            "sProcessing": "Searching",
            "sSearch": "Player Search",
        }
    }).fnSetFilteringDelay(500);
}(jQuery);
</script>
{% endblock %}
