{% extends 'base.html' %}

{% block content %}
<pre style=" white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
Starbow is a fan-made expansion to Brood War, built in the SC2 engine.

The game intends to recreate many of the good gameplay aspects of BW, while using units & spells from both SC2 and BW.

Some features:

- BW economy
- High ground advantage (units who attack uphill have a 50% miss chance)
- Combats generally last longer and happens over larger areas, compared to SC2
- More positional play
- Still uses SC2 mechanics, like unlimited selection etc
- The balance is more based around the BW balance (but with additional/different content for a broader meta-game)

Decemberscalms explanation of the game:

    Its more aimed at being an expansion to BW built in the SC2 engine. It isn't trying to be a better SC2 like most SC2 melee mods do.

    Its built more on BW fundamentals instead of SC2 fundamentals. The resources, map design (ported from BW for the most part), rush distances, and build times are a lot more reminiscent of BW.

    Armies feel more spread out, and fights can happen over much larger space, despite armies generally being lower supply due to the lower economy.

    We also put a lot of emphasis on micro being a pretty big factor. Things that are anti micro generally get developed out of the game. Fundamental changes to units were made as well to make fights more micro-able than their SC2 engine counterparts. Fights tend to last longer.

    If you love sc2 and hate BW from experience with both games, this will probably not change your mind. It isn't trying to beat SC2. Its trying to be a fresh new BW oriented experience for guys who enjoyed playing and watching BW, while still being relatively accessible for a SC2 player.

Starbow is currently in beta, and is still under development, especially in terms of balance. More patches will come in the future. Right now as the game is very young and unexplored, we will mostly focus on bug issues.
</pre>
{% endblock %}
