{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="story" style="background-image:url('{% static 'site/img/generalimage.png' %}')")>
  <h1>What is STARBOW?</h1>
</div>
<p>
  Starbow is a <strong>fan-made</strong> expansion to Brood War that is built in the StarCraft II engine.
</p>

<p>
  The game intends to recreate many of the good gameplay aspects of Brood War, while using units and spells from both StarCraft II and Brood War.
</p>

<p>Features Include:</p>

<ul>
  <li>Brood War economy
  <li>High ground advantage (units who attack uphill have a 50% miss chance)
  <li>Battles generally last longer and happen over larger areas, in contrast to SC2
  <li>More positional play
  <li>Still uses SC2 mechanics (unlimited selection, multiple buildings in control groups)
  <li>The balance is more based around the Brood War balance, but with additional content for a broader meta-game
</ul>

<p>Decemberscalm's explanation of the game:</p>

<blockquote>
  <p>
    It's more aimed at being an expansion to BW built in the SC2 engine. It isn't trying to be a better SC2 like most SC2 melee mods do.
  </p>

  <p>
    It's built more on BW fundamentals instead of SC2 fundamentals. The resources, map design (ported from BW for the most part), rush distances, and build times are a lot more reminiscent of BW.
  </p>

  <p>
    Armies feel more spread out, and fights can happen over much larger space, despite armies generally being lower supply due to the lower economy.
  </p>

  <p>
    We also put a lot of emphasis on micro being a pretty big factor. Things that are anti micro generally get developed out of the game. Fundamental changes to units were made as well to make fights more micro-able than their SC2 engine counterparts. Fights tend to last longer.
  </p>

  <p>
    If you love sc2 and hate BW from experience with both games, this will probably not change your mind. It isn't trying to beat SC2. Its trying to be a fresh new BW oriented experience for guys who enjoyed playing and watching BW, while still being relatively accessible for a SC2 player.
  </p>
</blockquote>

<p>
  Starbow is currently in beta, and is still under development, especially in terms of balance. More patches will come in the future. Right now, as the game is very young and unexplored, development will focus mostly on bug issues.
</p>

{% endblock %}
