{% load static %}
{% load browserid %}

{% spaceless %}

<html>
  <head>
    {% block title %}<title>Starbow</title>{% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'site/css/app.css' %}">
    {% browserid_css %}

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    {% browserid_js %}
  </head>
  <body>
    {% browserid_info %}
    <div class="header">
      <div class="left">
        <div class="icon"></div>
      </div>
        {% include 'snippets/navigation.html' %}
      <div class="right">
        {% include 'snippets/userpanel.html' %}
      </div>
    </div>
    <div class="content">
      <div class="page">
       {% block content %}
        <div class="story" style="background-image:url('{% static 'site/img/generalimage.png' %}')")>
          <h1>Is this the real Life?</h1>
        </div>
        <div class="column">
          <img src="{% static 'site/img/bowback.svg' %}" height="100px" class="left">
          <h2>Is this just Fantasy?</h2>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="column">
          <img src="{% static 'site/img/bowback.svg' %}" height="100px" class="left">
          <h2>Caught in a landslide.</h2>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="column">
          <img src="{% static 'site/img/bowback.svg' %}" height="100px" class="left">
          <h2>No escape from Reality.</h2>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="column">
          <img src="{% static 'site/img/bowback.svg' %}" height="100px" class="left">
          <h2>Is this just Fantasy?</h2>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="column">
          <img src="{% static 'site/img/bowback.svg' %}" height="100px" class="left">
          <h2>Caught in a landslide.</h2>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="column">
          <img src="{% static 'site/img/bowback.svg' %}" height="100px" class="left">
          <h2>No escape from Reality.</h2>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        {% endblock %}
      </div>
    </div>
  </body>
</html>

{% endspaceless %}
