{% extends 'base.html' %}
{% load static %}
{% load bbformat %}
{% block content %}
{{ latest_article.message|bbheader:latest_article|safe }}
<div class="column">
  <h2><a href="{% url 'starbowmodweb.site.views.view_news' %}">News and Updates</a></h2>
  <ul class="listing">
  {% for article in recent_articles %}
    <li><a href="{{ article.url }}">{{ article.subject }}</a></li>
  {% endfor %}
  </ul>
</div>
<div class="column">
  <h2><a href="/forum/forumdisplay.php?fid=1">Discussion</a></h2>
  <ul class="listing">
  {% for dicussion in recent_discussions %}
    <li><a href="{{ dicussion.url }}">{{ dicussion.subject }}</a></li>
  {% endfor %}
  </ul>
</div>
<div class="column">
  <h2><a href="{% url 'starbowmodweb.site.views.view_calendar' %}">Upcoming Events</a></h2>
  <ul class="listing">
  {% for event in upcoming_events %}
    {% if event.is_today %}
      <li><a href="{{ event.url }}">{{ event.start|date:"g:i A" }} GMT - {{ event.name }}</a></li>
    {% else %}
      <li><a href="{{ event.url }}">{{ event.start|date:"Y-m-d" }} {{ event.name }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
<div class="column">
  <h2><a href="{% url 'starbowmodweb.ladder.views.show_region' 'NA' %}">NA Ladder</a></h2>
  <table class="ladder-mini">
    <thead>
      <tr>
        <th>Username</th><th style="text-align:right;">Points</th><th style="text-align:right;">Wins</th><th style="text-align:right;">Losses</th>
      </tr>
    </thead>
    <tbody>
      {% for stats in ladder_na %}
        <tr>
          <td><a href="{% url 'ladder.views.show_player' stats.client.pk %}">{{ stats.client.username }}</a></td>
          <td style="text-align:right;">{{ stats.ladder_points }}</td>
          <td style="text-align:right;">{{ stats.ladder_wins }}</td>
          <td style="text-align:right;">{{ stats.ladder_losses }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="column">
  <h2><a href="{% url 'starbowmodweb.ladder.views.show_region' 'EU' %}">EU Ladder</a></h2>
  <table class="ladder-mini">
    <thead>
      <tr>
        <th>Username</th><th style="text-align:right;">Points</th><th style="text-align:right;">Wins</th><th style="text-align:right;">Losses</th>
      </tr>
    </thead>
    <tbody>
      {% for stats in ladder_eu %}
        <tr>
          <td><a href="{% url 'ladder.views.show_player' stats.client.pk %}">{{ stats.client.username }}</a></td>
          <td style="text-align:right;">{{ stats.ladder_points }}</td>
          <td style="text-align:right;">{{ stats.ladder_wins }}</td>
          <td style="text-align:right;">{{ stats.ladder_losses }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="column">
  <h2><a href="{% url 'starbowmodweb.ladder.views.show_region' 'KR' %}">KR Ladder</a></h2>
  <table class="ladder-mini">
    <thead>
      <tr><th style="text-align:center">Coming Soon!</th></tr>
    </thead>
  </table>
</div>
{% endblock %}
