{% extends 'base.html' %}
{% load static %}
{% load bbformat %}
{% block content %}
<div class="jcarousel">
  <ul>
    {% for article in recent_articles %}
    <li>{{ article.message|bbheader:article|safe }}</li>
    {% endfor %}
  </ul>
  <p class="jcarousel-pagination">
</div>
<script>
(function($) {
    $(function() {
        $('.jcarousel').jcarousel();

        $('.jcarousel-control-prev')
            .on('jcarouselcontrol:active', function() {
                $(this).removeClass('inactive');
            })
            .on('jcarouselcontrol:inactive', function() {
                $(this).addClass('inactive');
            })
            .jcarouselControl({
                target: '-=1'
            });

        $('.jcarousel-control-next')
            .on('jcarouselcontrol:active', function() {
                $(this).removeClass('inactive');
            })
            .on('jcarouselcontrol:inactive', function() {
                $(this).addClass('inactive');
            })
            .jcarouselControl({
                target: '+=1'
            });

        $('.jcarousel-pagination')
            .on('jcarouselpagination:active', 'a', function() {
                $(this).addClass('active');
            })
            .on('jcarouselpagination:inactive', 'a', function() {
                $(this).removeClass('active');
            })
            .jcarouselPagination({
              perPage: 1
            });
    });
})(jQuery);
</script>
<div class="column">
  <h2><a href="{% url 'starbowmodweb.site.views.view_events' %}">Upcoming Events</a></h2>
  <ul class="listing">
  {% for event in upcoming_events %}
    {% if event.is_today %}
      <li><a href="{{ event.url }}">{{ event.start|date:"g:i A" }} GMT - {{ event.name }}</a></li>
    {% else %}
      <li><a href="{{ event.url }}">{{ event.start|date:"Y-m-d" }} {{ event.name }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
<div class="column">
  <h2><a href="/forum/forumdisplay.php?fid=1">Discussions</a></h2>
  <ul class="listing">
  {% for dicussion in recent_discussions %}
    <li><a href="{{ dicussion.url }}">{{ dicussion.subject }}</a></li>
  {% endfor %}
  </ul>
</div>
<div class="column">
  <h2><a href="/streams">Live Streams</a></h2>
  <table class="ladder-mini">
    <thead>
      <tr><th style="text-align:center">Coming Soon<sup>TM</sup>!</th></tr>
    </thead>
  </table>
</div>
<div class="column">
  <h2><a href="{% url 'starbowmodweb.ladder.views.show_region' 'NA' %}">NA Ladder</a></h2>
  <table class="ladder-mini">
    <thead>
      <tr>
        <th></th><th>Username</th><th style="text-align:right;">Points</th><th style="text-align:right;">Wins</th><th style="text-align:right;">Losses</th>
      </tr>
    </thead>
    <tbody>
      {% for stats in ladder_na %}
        <tr>
          <td>{{ stats.division.name }}</td>
          <td><a href="{% url 'ladder.views.show_player' stats.client.pk %}">{{ stats.client.username }}</a></td>
          <td style="text-align:right;">{{ stats.ladder_points }}</td>
          <td style="text-align:right;">{{ stats.ladder_wins }}</td>
          <td style="text-align:right;">{{ stats.ladder_losses }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="column">
  <h2><a href="{% url 'starbowmodweb.ladder.views.show_region' 'EU' %}">EU Ladder</a></h2>
  <table class="ladder-mini">
    <thead>
      <tr>
        <th></th><th>Username</th><th style="text-align:right;">Points</th><th style="text-align:right;">Wins</th><th style="text-align:right;">Losses</th>
      </tr>
    </thead>
    <tbody>
      {% for stats in ladder_eu %}
        <tr>
          <td>{{ stats.division.name }}</td>
          <td><a href="{% url 'ladder.views.show_player' stats.client.pk %}">{{ stats.client.username }}</a></td>
          <td style="text-align:right;">{{ stats.ladder_points }}</td>
          <td style="text-align:right;">{{ stats.ladder_wins }}</td>
          <td style="text-align:right;">{{ stats.ladder_losses }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="column">
  <h2><a href="{% url 'starbowmodweb.ladder.views.show_region' 'KR' %}">KR Ladder</a></h2>
  <table class="ladder-mini">
    <thead>
      <tr><th style="text-align:center">Coming Soon<sup>TM</sup>!</th></tr>
    </thead>
  </table>
</div>
{% endblock %}
